.prayer-title {
  margin-top: 20px;
  padding: 20px;
  background-color: #29CCE2;
}
 p {
  font-size: medium;
  color: white;
  justify-content: center;
  align-items: center;
}
.city-form {
  background-color: #29CCE2;
  display: grid;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}


.prayingBox {
  padding: 1.5em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
}

.titleBox {
  border: .3em;
  color: #29CCE2;
  background-color: #f6feff;
  border-style:groove;
  border-width: 1px;
}
 .banner-img {
  position: flex;
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  justify-content: space-between;
  align-items: center;
}
.time-box {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
